Client/Connected Services/HostClient/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyCloud.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyCloud.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CloudFileDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileId" type="xs:int" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:float" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CloudFileDTO" nillable="true" type="tns:CloudFileDTO" />
  <xs:complexType name="ArrayOfCloudFileDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CloudFileDTO" nillable="true" type="tns:CloudFileDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCloudFileDTO" nillable="true" type="tns:ArrayOfCloudFileDTO" />
</xs:schema>