Client/Connected Services/HostClient/ServiceCloud.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceCloud" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceCloud_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyCloud.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCloud_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IServiceCloud_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCloud_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IServiceCloud_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCloud_FilesList_InputMessage">
    <wsdl:part name="parameters" element="tns:FilesList" />
  </wsdl:message>
  <wsdl:message name="IServiceCloud_FilesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilesListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCloud_FilesArray_InputMessage">
    <wsdl:part name="parameters" element="tns:FilesArray" />
  </wsdl:message>
  <wsdl:message name="IServiceCloud_FilesArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilesArrayResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCloud">
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCloud/UploadFile" message="tns:IServiceCloud_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCloud/UploadFileResponse" message="tns:IServiceCloud_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCloud/DeleteFile" message="tns:IServiceCloud_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCloud/DeleteFileResponse" message="tns:IServiceCloud_DeleteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCloud/FilesList" message="tns:IServiceCloud_FilesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCloud/FilesListResponse" message="tns:IServiceCloud_FilesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilesArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCloud/FilesArray" message="tns:IServiceCloud_FilesArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCloud/FilesArrayResponse" message="tns:IServiceCloud_FilesArray_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceCloud" type="tns:IServiceCloud">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceCloud_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/IServiceCloud/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/IServiceCloud/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilesList">
      <soap12:operation soapAction="http://tempuri.org/IServiceCloud/FilesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilesArray">
      <soap12:operation soapAction="http://tempuri.org/IServiceCloud/FilesArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCloud">
    <wsdl:port name="NetTcpBinding_IServiceCloud" binding="tns:NetTcpBinding_IServiceCloud">
      <soap12:address location="net.tcp://localhost:5001/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5001/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>